:root {
    --lemon: #fffacd;



}

.navbar-brand {
    margin-left: 20px;
}

 .navbar-collapse {
    justify-content: flex-end;
    margin: 5px 100px;
}

.container {
    width: 100vh;
}

.blue-background {
    height: 400px;
}

.first {
    background-image: url(../images/coding2.jpg);
    background-size: cover;
}

.gray-background {
    background-color: #eaeaea;
}

