* {
    box-sizing: border-box;
}
body {
    font-family: 'Rubik' sans-serif;
}
:root {
    --white: #fff;
}

.navbar-brand {
    margin-left: 20px;
}

 .navbar-collapse {
    justify-content: flex-end;
    margin: 5px 100px;
}

/* Index */

.blue-background {
    height: 350px;
    overflow: hidden;
}

.first {
    background-image: url(../images/backgroundfire.png);
    background-size: cover;
}

.first h1 {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 90px;
    line-height: 1%;
    font-size: 3rem;
    color: var(--white);
}

.second {
    background-color: #eaeaea;
}

.second h2 {
    text-align: center;
    margin-top: 20px;
    
}

.second p {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 40px;
}


.container {
    height: 400px;
    padding-top: 10px;
}

h4 {
    display: block;
    position: relative;
    text-align: center;
}

img {
    height: 350px; 
    object-fit: cover;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 20%;
    border: 1px solid black;
}

.carousel-title {
    text-decoration: none;
    font-size: 2rem ;
    color: black;
}


.card-banner {
    text-align: center;
}

/* Portfolio */

.project-heading {
    background-image: url(../images/backgroundfire.png);
    background-size: cover;
    height: 150px;
}

.project-heading h5 {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 20px;
    font-size: 1.5rem;
    color: var(--white);
}

.card-group {
    margin-top: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.card {
    margin-left: 20px;
    margin-top: 20px;
}

.card-img-top:hover {
    transform: scale(1.05);
    overflow: hidden;
}

@media screen and (max-width: 1170px) {
   
    .first h1 {
        font-size: 1rem;
        line-height: 1px;
    }
}

@media screen and (max-width: 1000px) {
    .blue-background {
        width: 100vw;
        height: 600px;
        
    }

    .first {
        height: 250px;
        
    }

    .first h1 {
        font-size: 2rem;
    }
    .second {
        height: 500px;
    }   
}

@media screen and (max-width: 670px) {
    .second h1 {
      font-size: 2rem;
    }
    
   .second p {
       font-size: 1.1rem;
       margin-top: -5px;
   }
}